<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>You requested verify your email for IndexCloud registration</p>
        <p> Please, click the link to verify</p>
        <p> If this is not your request, please ignore this email</p>
        <a href="http://{{link}}">Verify</a>
    </body>
</html>